@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --secondary-font: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.home-posts {
    max-width: 1440px;
    margin: auto;
    padding: 8px;
}

.home-layout-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 700px;
}

.home-layout2,
.home-layout3 {
    width: 100%;
}

.home-layout2 {
    margin: 20px 0;
}

.home-layout3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home-layout2 a,
.home-post-layout3__post-title,
.home-post-layout2__post-excerpt p,
.home-layout3 a {
    font-family: var(--secondary-font);
    font-weight: 300;
}

@media (min-width: 1100px) {
    .home-layout-wrapper {
        flex-direction: row;
    }

    .home-layout2,
    .home-layout3 {
        width: 48%;
    }
}

/* .home__outros-assuntos{
    margin-top: 5rem;
} */

.home__outros-assuntos__wrapper {
    overflow-x: scroll;
}

.home__outros-assuntos__content {
    display: flex;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.home__outros-assuntos__content::-webkit-scrollbar,
.home__outros-assuntos__wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.home__outros-assuntos__content,
.home__outros-assuntos__wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.other-topics {
    margin-right: 2rem;
}

.other-topics__image {
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.other-topics__image > img {
    object-fit: contain;
    width: 100%;
}

.other-topics > p {
    text-transform: uppercase;
    font-family: "Open Sans";
    color: #a0a0a0;
    font-style: normal;
    font-weight: 300;
}

footer.footer__homepage {
    position: absolute;
    background-image: url(/images/background-bottom.svg);
    width: 100%;
    top: 107vh;
    height: 400px;
    left: 0;
    z-index: -1;
    background-repeat-y: no-repeat;
    background-size: cover;
}

.footer__content {
}
