* {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    box-sizing: border-box;
    font-style: normal;
    outline: none;
}

.main-img {
    width: 100vw;
}

.main-img img {
    width: 100%;
    height: 450px;

    object-fit: cover;
    object-position: 0 -313px;
}

@media (min-width: 1441px) {
    .main-img img {
        object-position: 0 -513px;
    }
}

@media (min-width: 1921px) {
    .main-img img {
        object-position: 0 -913px;
    }
}

.post-content {
    max-width: 1440px;
    margin: auto;
}

.title {
    margin-top: 55px;

    font-weight: 600;
    font-size: 54px;

    color: #7e7e7e;
}

.publish-date {
    font-weight: 300;
    font-size: 24px;

    color: #7a7a7a;
}

.excerpt {
    margin-top: 24px;
    font-weight: 300;
    font-size: 25px;

    color: #5a5a5a;
}

.post-body {
    margin-top: 55px;
}

.categories {
    margin-top: 55px;

    display: flex;
}

.category-button {
    background: #f7e2c9;
    color: #ce9046;

    border-radius: 24px;
    border: none;

    font-weight: 300;
    font-size: 24px;

    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.category-button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.category-button + .category-button {
    margin-left: 8px;
}
